.row{
    border-bottom: 10px dashed black;
}

.scoreWrap {
    display: flex;
    gap: 32px;
    margin: 180px 12px 0;
}

.scoreItem {
    padding: 28px 32px;
    display: flex;
    height: 149px;
    max-width: 346px;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #565B62;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Добавляем многоточие */

}

.imgScore {
    border-radius: 50%;
    object-fit: cover;
    width: 90px;
    height: 90px;
}

.scoreContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Добавляем многоточие */
    height: 100%;
}

.scoreText {
    color: #F2F4F7;
    text-align: start;
    font-family: SB Sans Interface, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавляем многоточие */

}

.scoreNumber {
    color: #FFB13B;

    text-align: start;
    font-family: SB Sans Interface, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
}