@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0;
    }
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutModal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    animation: 1.3s fadeInModal ease;
}

.closeModal {
    animation: 1.3s fadeOutModal ease-out;
}

.content2 {
    width: 840px;
    height: 480px;
    background: #ffffff;
    border-radius: 10px;
}

.content {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background: rgb(16, 127, 140);
    background: linear-gradient(35deg, rgba(16, 127, 140, 1) 0%, rgba(33, 161, 154, 1) 100%);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 840px;
    height: 480px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    width: 840px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(90deg, #005e7f 0%, #107f8c 103.67%);
    color: #fff;

    text-align: center;
    font-family:
        SB Sans Interface,
        sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.body {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    padding: 0 32px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    color: #1f1f22;
    font-family:
        SB Sans Interface,
        sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
}

.author {
    position: absolute;
    bottom: 32px;
    right: 32px;
    color: #565B62;

    text-align: center;
    font-family: SB Sans Interface, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.authorName {
    color: #1F1F22;

    text-align: center;
    font-family: SB Sans Interface, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.open {
    animation: 1.3s fadeIn ease;
}

.close {
    animation: 1.3s fadeOut ease;
}

.ModalEnter {
    opacity: 0;
}

.ModalEnterDone {
    opacity: 1;
}

.picWrapper {
    border-radius: 10px;
}

.pic {
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    object-fit: contain;
}

.videoPreview {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    background: rgb(16, 127, 140);
    background: linear-gradient(35deg, rgba(16, 127, 140, 1) 0%, rgba(33, 161, 154, 1) 100%);
    color: #ffffff;
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
}

.videoWrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    height: 90%;
    border-radius: 10px;
    background: rgb(16, 127, 140);
    background: linear-gradient(35deg, rgba(16, 127, 140, 1) 0%, rgba(33, 161, 154, 1) 100%);
    color: #ffffff;
}

.video {
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    object-fit: contain;
}
